<h1>
  <%= @user.email %>
</h1>
<img src="https://source.unsplash.com/300x300" alt="" style="height: 300px; width: 300px;">
<div class="user-profile">
<span><%= link_to "Followers", followers_path(@user), class:"nav-link" %>: <%= @user.followers.count %></span>
<span><%= link_to "Followings", following_path(@user), class:"nav-link" %>: <%= @user.following.count%></span>

<% if current_user != @user %>
  <% if current_user.following?(@user) %>
    <%= button_to "Unfollow", unfollow_path(@user) %>
  <% elsif current_user.sent_follow_request_to?(@user) %>
    <%= button_to "Cancel follow request", cancel_path(@user) %>
  <% else %>
    <%= button_to "Follow", follow_path(@user) %>
  <% end %>
<% else %>
  <%= link_to "Edit profile", edit_user_registration_path, class:"nav-link" %> 
<% end %>

</div>
<h2>Posts</h2>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>
    </p>
  <% end %>
</div>