<% if user_signed_in?%>
  <nav class="main-navbar">
    <li class="nav-item">
      <%= link_to "Feed", home_index_path, class:"nav-link" %> 
    </li>

    <li class="nav-item">
      <%= link_to "Follow requests", follow_requests_path, class:"nav-link" %> 
    </li>

    <li class="nav-item">
      <%= link_to "Followers List", followers_path, class:"nav-link" %> 
    </li>

    <li class="nav-item">
      <%= link_to "Users", users_path, class:"nav-link" %> 
    </li>

    <li class="nav-item">
      <%= link_to "Sign Out", destroy_user_session_path, data: { turbo_method: :delete }, class:"nav-link" %> 
    </li>

    <li class="nav-item">
      <%= link_to "Profile", profile_path(current_user), class:"nav-link" %> 
    </li>
  </nav>
  <% end %>